@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,500&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
/* @import url("https://fonts.googleapis.com/css?family=Roboto&amp;subset=greek"); */

body {
	/* font-family: 'Roboto', sans-serif; */
    font-family: 'EB Garamond', serif;
	font-size: 14px;
	letter-spacing: 0.5px;
	line-height: 1.2;
	margin: 0 auto;
	max-width: 700px;
	background-color: #ffebcc;
	transition: background-color .5s;
}

::-moz-selection { /* Code for Firefox */
	color: #ffffff;
	background: #808080;
}

::selection {
	color: #ffffff;
	background: #808080;
}

.main {
	position: relative;
    /* height: auto;*/
	max-width: 550px;
	width: 500px;
	display: flex;
	justify-content: center;
}

.smoke_title {
	position: absolute;
	top: 10px;
	left: 20px;
	background-image: url('../images/smoke_title.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 210px;
	width: 460px;
	/* transform: rotate(-65deg); */
	z-index: -1;
}

.smoke {
	position: absolute;
	top: 270px;
	left: 50px;
	background-image: url('../images/smoke.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 150px;
	width: 150px;
	transform: rotate(-65deg);
	z-index: 1;
}

.smoke2 {
	top: 500px;
	left: 130px;
	width: 130px;
	height: 130px;
	transform: rotate(-80deg);
}

.smoke3 {
	top: 720px;
	left: 240px;
	width: 100px;
	height: 100px;
	transform: rotate(-35deg);
}

.smoke4 {
	top: 900px;
	left: 180px;
	width: 90px;
	height: 90px;
	transform: rotate(-30deg);
}

.smoke5 {
	top: 1060px;
	left: 100px;
	width: 75px;
	height: 75px;
	transform: rotate(-50deg);
}

.num2 {
	position: absolute;
	top: 940px;
	left: 265px;
	background-image: url('../images/2.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 150px;
	width: 125px;
	z-index: 1;
}

.smoke_ex {
	top: -70px;
	/* left: 60px; */
	width: 50px;
	height: 50px;
}

.buldozer {
	position: absolute;
	top: 1300px;
	/* left: 25px; */
	background-image: url('../images/buldozer.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	height: 340px;
	width: 420px;
}

.text {
	color: #262626;
	font-size: 1.8em;
	font-weight: 500;
	text-align: center;
	width: 250px;
}

.text1 {
	position: absolute;
	top: 75px;
	left: 140px;
}

.text2 {
	position: absolute;
	top: 360px;
	left: 235px;
}

.text4 {
	position: absolute;
	top: 645px;
	left: 20px;
}

.text3 {
	position: absolute;
	top: 1100px;
	left: 200px;
	/* width: 80%; */
	/* margin: 0; */
	/* padding-left: 30px; */
}

.ribon {
	position: absolute;
	top: 1630px;
	background-image: url('../images/ribon.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 120px;
	width: 100%;
}

a:link {
	color: #002699;
	background-color: transparent;
	/* text-decoration: none; */
	font-weight: bold;
}
a:visited {
	color: #002699;
	background-color: transparent;
	/* text-decoration: none; */
	font-weight: bold;
}

.material-symbols-outlined {
	font-size: 3.2em !important;
	position: absolute;
	top: 160px;
	right: 50%;
	transform: translate(50%,-50%);
}